@font-face {
    font-family: 'GenKJwajinOTF-Rg';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GenKJwajinOTF-Rg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'RIDIBatang';
  src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.0/RIDIBatang.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* { margin: 0; padding: 0; box-sizing: border-box;}
ul, li {list-style:none; margin:0; padding:0;}
a {text-decoration: none;}

body {background-color: rgb(137, 14, 14);}

@media all and (max-width:768px) {
  header {
    width: 100%; height: 70px; margin: 0 auto; position: fixed; z-index: 3;
    background-color: rgb(255, 255, 255); display: flex; justify-content: space-around; position: fixed;
    }
.logo {margin-top: 5px;}
.logo img{width: 90px; height: auto; display: flex; justify-content: center; margin: 0 7%;}
nav {width: 100%; height: auto; padding-top: 5px; margin-top: 5px;}
nav ul {display: flex; justify-content: center; align-items: center;}
nav li {padding: 10px 3%;}
nav a { color: rgb(137, 14, 14); font-size: 3vw; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;}
nav a:hover {color: red;}
nav li:first-child a {color:red;}

/* 푸터 */
footer {width: 100%; height: auto; background-color: #f7f7f7; margin-top: 150px;}
.footer_box {margin: 0 auto; width: 100%; height: 90%; background-color: rgba(250, 235, 215, 0); margin: 0 auto; color: rgb(137, 14, 14); padding: 80px 30px; display: flex;}
.footer_box h1 {font-family: 'Times New Roman', Times, serif; margin: 15px 0; font-size: larger;}

.ABOUT_US {line-height: 15px; width: 100%; height: 100%; background-color: rgba(127, 255, 212, 0); padding: 0; padding-right: 40px;}
.ABOUT_US p {font-size: small; font-family: 'RIDIBatang';}

.hf { width: 70%; height: 100%; padding: 0; background-color: rgba(159, 194, 224, 0);}
.hf i {flex-direction: row; font-size: 15px; letter-spacing: 8px;}

.have span {line-height: 10px; font-size: small;}

.fllow {margin-top: 6vw;}
.fllow i { font-size: 20px;}
}

@media all and (min-width:768px) and (max-width:1440px) {
  header {
    width: 100%; height: 80px; margin: 0 auto;position: fixed; z-index: 3;
    background-color: rgb(255, 255, 255); display: flex; justify-content: space-around; position: fixed;
    }
    .logo img{width: 130px; height: 80px; display: flex; justify-content: center; margin-top: -5px;}
    nav {width: 660px; height: 60px; padding-top: 10px; margin-top: 10px;}
    nav ul {display: flex; justify-content: center; align-items: center;}
    nav li {padding: 10px 4%;}
    nav a { color: rgb(137, 14, 14); font-size: 18px; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;}
    nav a:hover {color: red;}
    nav li:first-child a {color:red;}

/* 푸터 */
footer {width: 100%; height: auto; background-color: #f7f7f7; margin-top: 150px;}
.footer_box {margin: 0 auto; width: 100%; background-color: rgba(250, 235, 215, 0); margin: 0 auto; color: rgb(137, 14, 14); padding: 100px 10px; display: flex;}
.footer_box h1 {font-family: 'Times New Roman', Times, serif; margin: 15px 0; font-size: larger;}

.ABOUT_US {line-height: 25px; width: auto; background-color: rgba(127, 255, 212, 0); padding-right: 40px; padding: 0 7%;}
.ABOUT_US p {font-size: medium; font-family: 'RIDIBatang';}

.hf { width: 70%; padding: 0; background-color: rgba(159, 194, 224, 0);}
.hf i {flex-direction: row; font-size: 15px; letter-spacing: 8px;}

.have span {line-height: 40px; font-size: medium;}

.fllow {margin-top: 6vw;}
.fllow i { font-size: 20px;}

}

@media all and (min-width:1440px){

  header {
    width: 100%; height: 80px; margin: 0 auto;position: fixed; z-index: 3;
    background-color: rgb(255, 255, 255); display: flex; justify-content: space-around; position: fixed;
    }
.logo img{width: 130px; height: 80px; display: flex; justify-content: center;}
nav {width: 660px; height: 60px; padding-top: 10px; margin-top: 10px;}
nav ul {display: flex; justify-content: center; align-items: center;}
nav li {padding: 10px 20px;}
nav a { color: rgb(137, 14, 14); font-size: 18px; font-family: Georgia, 'Times New Roman', Times, serif; font-weight: bold;}
nav a:hover {color: red;}
nav li:first-child a {color:red;}

/* 푸터 */
footer {width: 100%; height: 550px; background-color: #f7f7f7; margin-top: 150px;}
.footer_box {margin: 0 auto; width: 1600px; height: 550px; background-color: rgba(250, 235, 215, 0); margin: 0 auto; color: rgb(137, 14, 14); padding: 100px; display: flex;}
.footer_box h1 {font-family: 'Times New Roman', Times, serif; margin: 15px 0;}

.ABOUT_US {line-height: 30px; width: 800px; background-color: rgba(127, 255, 212, 0); padding: 0 80px;}
.ABOUT_US p {font-size: 18px; font-family: 'RIDIBatang'; letter-spacing: 2px;}

.hf { width: 600px; padding: 0 100px; background-color: rgba(240, 248, 255, 0);}
.hf i {flex-direction: row; font-size: 15px; letter-spacing: 8px;}

.have span {line-height: 50px;}

.fllow {margin-top: 50px;}
.fllow i { font-size: 25px;}
}
